.box{
    background-color: white;
    padding: 2% 3%;
    margin-top: 2%;
    border-radius: 8px;
    border: #b5b5b580 1px solid;
}
.short-text{
    width: 50%;
    border: none;
    background-color: none;
    border-bottom:1px solid gray;
    outline: none;
}
.radio{
    margin: 1% 1%;
}
.requir{
    color: red;
}